.title {
  color: #fff;
  margin-bottom: 1.5rem;
}

.text_decks {
  color: #fff
}

.plusIcon {
  display: flex;
  justify-content: flex-end;
}

.decklist {
  display: flex;
  justify-content: space-between;
}